<!doctype html>
<html lang="en">
@model CSGO_MVC.Models._ViewModel

@{
    ViewBag.Title = "title";
}


<head>
    <script src="~/Content/MyScripts/RouletteScript.js"></script>
    <script src="~/Content/MyScripts/BetValueButtonScript.js"></script>
    <link rel="stylesheet" href="~/Content/CSSFolder/BackgroundColor.css" />
    <link rel="stylesheet" href="~/Content/CSSFolder/RouletteCSS.css." />
    <link rel="stylesheet" href="~/Content/CSSFolder/RS.css" />


</head>

<body>
    <h1> Spin Thy Wheel</h1>
    <div class="RouletteWheel">
        <a href="#"><img src="~/Content/Images/WheelRouuuuu.jpg" /></a>
    </div>
    <script src="~/Content/MyScripts/jQueryRoulette.js"></script>

    <!--
    <div class="RouletteFillings">
            <img class="whiteBoard" src="~/Content/Images/whiteBoard.jpg" />
        </div>
        -->




    <h1> Roulette test</h1>
    <hr />
    @foreach (var item in Model.Fieldlist)
    {
        <p>@Html.DisplayFor(m => item)</p>
    }

    <h1> Bet Test</h1>



    <p id="demo"> </p>

    <br />

    <input type="button" id="b1" onclick="myFunction(this)" value='50'>
    <input type="button" id="b1" onclick="myFunction(this)" value='100'>
    <input type="button" id="b1" onclick="myFunction(this)" value='150'>
    <input type="button" id="b1" onclick="myFunction(this)" value='200'>
    <input type="button" id="b1" onclick="myFunction(this)" value='250'>
    <input type="button" id="b1" onclick="myFunction(this)" value='500'>

    <script>
        function myFunction(button) {
            var x = button.value;
            document.getElementById("demo").innerHTML = x;
        }

        function ncFunc(button) {
            var z = button.value;
            document.getElementById("demo").innerHTML += z;
        }
    </script>
    <p>
        @Html.DisplayFor(m => m.Accounts.accountbalance.Amount)

    </p>

    <!--
        @foreach(var x in Model.Fieldlist)
        {
          <button type="button" id="RouField" onclick="myFunction(this)" value="@x.Number @x.Color">@x.Number @x.Color</button>
        }
        -->
    @foreach (var x in Model.Fieldlist)
    {
        <input type="button" id"numCol" onclick="ncFunc(this)" value="@x.Color @x.Number" />
    }






    <!--
     Hvis Script ikke virker tag det her
    @{

        var BetV = 500;

        <input class="btnBetValue" type="button" value="@(BetV)" onclick="document.getElementById('totalBet').innerHTML=this.value">



        <p>BetValue: @(BetV)</p>

        var TotalBetValue = BetV = +BetV;
        <textarea id="totalBet" disabled> </textarea>

    }

    <p>Total Value:@(TotalBetValue)</p>

        -->
    <!--
        <p>
            Number : @ViewBag.ViewBagName
            @Html.ViewBag.ViewBagName
            @ViewBag.TEST
            Numver2:


            snabelausing CSGO_MVC.Controllers;
            snabelaRouletteController.RouletteGame;
            snabelaHtml.TextBoxFor(x => x.RouletteGame.ViewBag);

    </p>
    -->

</body>
</html>