<!doctype html>
<html lang="en">
@model CSGO_MVC.Models._ViewModel

@{
    ViewBag.Title = "title";
}


<head>
    <script src="~/Content/MyScripts/RouletteScript.js"></script>
    <script src="~/Content/MyScripts/BetValueButtonScript.js"></script>
    <link rel="stylesheet" href="~/Content/CSSFolder/BackgroundColor.css" />
    <link rel="stylesheet" href="~/Content/CSSFolder/RouletteCSS.css." />
    <link rel="stylesheet" href="~/Content/CSSFolder/RS.css" />


</head>

<body>
    <h1 style="color:White"> Spin Thy Wheel</h1>
    <div class="RouletteWheel">
        <a href="#"><img src="~/Content/Images/WheelRouuuuu.jpg" /></a>
    </div>
    <script src="~/Content/MyScripts/jQueryRoulette.js"></script>

    <!--
    <div class="RouletteFillings">
            <img class="whiteBoard" src="~/Content/Images/whiteBoard.jpg" />
        </div>
        -->




    <h1 style="color:white;"> Play the game, if you dare! Not many survives!</h1>
    <hr />


    <h1 style="color:white;"> Make your bet! Choose wisely, Mortal!</h1>



    <p id="demo" style="color:white;"> </p>

    <br />

    

    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
    <div>
        <label style="color:white">color</label>
        @Html.TextBoxFor(Model => Model.Bets.Betfield.Color)
        <label style="color:white">number</label>
        @Html.TextBoxFor(Model => Model.Bets.Betfield.Number)
        <label style="color:white">value</label>
        @Html.TextBoxFor(Model => Model.Bets.BetValue, new { id = "value4" })

        @*<input type="button" id="b1" onclick="myFunction(this)" value='50'>
        <input type="button" id="b1" onclick="myFunction(this)" value='100'>
        <input type="button" id="b1" onclick="myFunction(this)" value='150'>
        <input type="button" id="b1" onclick="myFunction(this)" value='200'>         <----- no workerino yet
        <input type="button" id="b1" onclick="myFunction(this)" value='250'>
        <input type="button" id="b1" onclick="myFunction(this)" value='500'>
        <script>
            function myFunction(button) {
                var x = button.value;
                document.getElementById("value4").innerHTML = x;
            }
        </script>*@
    </div>
        <div class="btn btn-success">
            <input type="submit" value="Roll the Roulette!" />
        </div>
    }

    <h1 style="color:white;">
        This is your current balance! Gamble wisely, or you will soon find yourself poor! </h1">
        <h2 style="color:white;">
            @Html.DisplayFor(m => m.Accounts.accountbalance.Amount) Shekels
        </h2>

        <!--
            //foreach(var x in Model.Fieldlist)
        //{
             // <button type="button" id="RouField" onclick="myFunction(this)" value="x.Number x.Color">x.Number x.Color</button>
            }
            -->
        @*@foreach (var x in Model.Fieldlist)
            {
                <input type="button" id"numCol" onclick="ncFunc(this)" value="@x.Color @x.Number" />
            }*@








        @*<script>
                function RouletteBet() {
                    var betvar = { bet: "", field: "", };
                    betvar.bet = document.getElementById("bv").value;
                    betvar.field = document.getElementById("rf").value;

                    var t = table.insertRow(2);

                    var b = row.insertCell(0);
                    var r = row.insertCell(1);

                    b.innerHTML = betvar.bet;
                    r.innerHTML = betvar.field;
                }
            </script>

            <form>
                <input type="text" id="bv" name="bet Value:" />
                <br />
                <input type="text" id="rf" name="Roulette Field:" />

                <input type="submit" id="readyup" onclick="BetStart" value="Bet!" />
            </form>*@

        <script>
            function BetStart() {
                get.bet;
                get.field;

                alert(bet, field);
            }
        </script>

        <!--
         Hvis Script ikke virker tag det her
        @{

            var BetV = 500;

            <input class="btnBetValue" type="button" value="@(BetV)" onclick="document.getElementById('totalBet').innerHTML=this.value">



            <p>BetValue: @(BetV)</p>

            var TotalBetValue = BetV = +BetV;
            <textarea id="totalBet" disabled> </textarea>

        }

        <p>Total Value:@(TotalBetValue)</p>

            -->
        <!--
            <p>
                Number : @ViewBag.ViewBagName
                @Html.ViewBag.ViewBagName
                @ViewBag.TEST
                Numver2:


                snabelausing CSGO_MVC.Controllers;
                snabelaRouletteController.RouletteGame;
                snabelaHtml.TextBoxFor(x => x.RouletteGame.ViewBag);

        </p>
        -->


        <script>
            function myFunction(button) {
                var x = button.value;
                document.getElementById("value4").innerHTML = x;
            }

            function ncFunc(button) {
                var z = button.value;
                document.getElementById("demo").innerHTML += z;
            }
        </script>





</body>
</html>