

    
    
        @Html.AntiForgeryToken()

        @if(Session["LogedUserUserName"] != null)
        {
            <ul class="nav navbar-nav navbar-right">

                <li><span style="color:red">Hello</span><span style="color:red">@Session["LogedUserUserName"]</span></li>
                <li>@Html.ActionLink("Logout", "Logout", "SteamAccCrud")</li>
            </ul>
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "Create", "SteamAccCrud", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "SteamAccCrud", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
        }


               